<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PROFILE</h1>
    <table cellspacing="10" cellpadding="10" border="2">
        <tr>
            <th>UserID </th>
            <td>{{user.id}}</td>
        </tr>
        <tr>
            <th>USERNAME</th>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <th>NICKNAME</th>
            <td>{{user.nickname}}</td>
        </tr>
        
    </table>
</body>
</html>